*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

form {
    font-size: 22px;
}

@media screen and (min-width: 320px){
    /*-------- header --------*/



    .input-group {
        width: 50%;
    }

    .navbar .collapse ul li a {
        font-size: 22px;
    }
    
    .logo {
        width: 80px;
        height: 100px;
        float: left;
        margin-left: 60px;
        margin-top: 0;
        background-image: linear-gradient(to right, rgba(42,111,151,0.4), rgb(34, 96, 143));
        border-radius: 0 0 38px 0;
    }
    
    .logo img {
        width: 60px;
        height: 60px;
        margin-left: 10px;
        margin-top: 25px;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    
    .navbar {
        height: 80px;
    }
    
    #navmenu {
        margin: 20px 180px 0 20px;
    }
    
    .nav-link {
        margin-right: 20px;
    }



/*----------- section 1 home -------------*/


#sec1 {
    background-color: rgb(37, 37, 41);
}

.sec1{
    min-width: 100%;
    height: 70vh;
}

.video {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.video video {
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.video-content {
    position: absolute;
    bottom: 30%;
    top: 27%;
    left: 27%;
    color: #f1f1f1;
    width: 72%;
    padding: 20px;
}

.video-content h1 {
    font-size: 34px;
    font-weight: 700;
}

.video-content p {
    font-size: 22px;
    font-weight: 600;
}

.container .navbar-toggler {
    margin-left: 80%;
    margin-top: -80px;
}

.btn1 {
    padding: 5px 10px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: rgb(255, 255, 255, 0.8);
    letter-spacing: 1.1px;
    box-shadow: 4px 4px rgb(63, 63, 63, 0.4);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.btn1:hover {
    transform: scale(1.18);
    background-color: rgb(255, 255, 255);
    box-shadow: none;
}



/*---------- section 2 ----------*/

.bg2 {
    background-color: black;
}

.cv-content {
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}



/*---------- section 3 Projects ----------*/



#sec3 {
    background-color: #fff;
}

.container .sec3-text h1 {
    font-weight: 600;
}

.container .sec3-text h3 {
    margin-bottom: 30px;
    font-weight: 500;
}

.carousel-control-prev, .carousel-control-next {
    width: 12%;
    background-color: rgb(0, 0, 0, 0.4);
}

.carousel-item img {
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.card {
    height: 100%;
    transition: all 0.2s ease-out;
    border-radius: 7px;
    opacity: 0.9;
    margin-bottom: 35px;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: rgb(173, 173, 173) 7px 7px;
}

.card-text {
    font-size: 22px;
    text-align: justify;
    margin: 15px;
}



/*---------- section 4 About ----------*/


#sec4 {
    width: 100%;
    height: 95%;
}

.bg4 {
    background-color: black;
}

.bg4 .container {
    padding-top: 30px;
    padding-bottom: 20px;
}

.about-text {
    margin-left: -30px;
}

.about-text h1 {
    margin-bottom: 40px;
}

.about-text h3 {
    margin-bottom: 10px;
}

.about-text p {
    text-align: justify;
    font-size: 21px;
}

.img-sec4 img {
    max-width: 100%;
    height: auto;
    border-radius: 7px;
}


/* ----------- section 5 news ------------*/


.bg5 {
    background-color: rgb(49, 49, 49);
}

#sec5 {
    margin-top: 0;
}

.input-group {
    width: 100%;
}

#button-addon2 {
    transition: all 0.2s ease-out;
}

#button-addon2:hover {
    transform: scale(1.05);
}

/*---------- section 6 Contact ----------*/


#sec6 {
    width: 100%;
    height: 84vh;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label{
    margin-bottom: 5px;
}

.btn-submit {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 8px 15px;
    transition: all 0.2s ease-out;
}

.btn-submit:hover {
    transform: scale(1.08);
    color: black;
    background-color: #fff;
    box-shadow: rgb(54, 54, 54) 4px 4px;
}


/*---------- footer ----------*/


.footer {
    width: 100%;
    height: 10vh;
    font-size: 14px;
    line-break: auto;
    background-color: black;
    text-align: center;
    padding-top: 10px;
}






}




@media screen and (min-width: 760px){


    /*-------- header --------*/

.navbar .collapse ul li a {
    font-size: 26px;
}

.logo {
    width: 80px;
    height: 100px;
    float: left;
    margin-left: 60px;
    background-image: linear-gradient(to right, rgba(42,111,151,0.4), rgb(34, 96, 143));
    border-radius: 0 0 38px 0;
}

.logo img {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.navbar {
    height: 80px;
}

#navmenu {
    margin-right: 180px;
    margin-top: 20px;
}

.nav-link {
    margin-right: 20px;
}


/*----------- section 1 home -------------*/


#sec1 {
    background-color: rgb(37, 37, 41);
}

.sec1{
    min-width: 100%;
    height: 100%;
}

.video {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.video video {
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.video-content {
    position: absolute;
    bottom: 30%;
    left: 25%;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.video-content h1 {
    font-size: 60px;
    font-weight: 700;
}

.video-content p {
    font-size: 30px;
    font-weight: 600;
}

.container .navbar-toggler {
    margin-left: 80%;
    margin-top: -80px;
}

.btn1 {
    padding: 5px 10px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: rgb(255, 255, 255, 0.8);
    letter-spacing: 1.1px;
    box-shadow: 4px 4px rgb(63, 63, 63, 0.4);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.btn1:hover {
    transform: scale(1.18);
    background-color: rgb(255, 255, 255);
    box-shadow: none;
}



/*---------- section 2 ----------*/

.bg2 {
    background-color: black;
}

.cv-content {
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}



/*---------- section 3 Projects ----------*/



#sec3 {
    background-color: #fff;
}

.container .sec3-text h1 {
    font-weight: 600;
}

.container .sec3-text h3 {
    margin-bottom: 30px;
    font-weight: 500;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
    background-color: rgb(0, 0, 0, 0.4);
}

.carousel-item img {
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.card {
    height: 100%;
    transition: all 0.2s ease-out;
    border-radius: 7px;
    opacity: 0.9;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: rgb(173, 173, 173) 7px 7px;
}

.card-text {
    font-size: 22px;
    text-align: justify;
    margin: 15px;
}



/*---------- section 4 About ----------*/


#sec4 {
    width: 100%;
    height: 95%;
}

.bg4 {
    background-color: black;
}

.bg4 .container {
    padding-top: 30px;
    padding-bottom: 20px;
}

.about-text {
    margin-left: -30px;
}

.about-text h1 {
    margin-bottom: 40px;
}

.about-text h3 {
    margin-bottom: 10px;
}

.about-text p {
    text-align: justify;
    font-size: 25px;
}

.img-sec4 img {
    max-width: 100%;
    height: auto;
    border-radius: 7px;
}


/* ----------- section 5 news ------------*/


.bg5 {
    background-color: rgb(49, 49, 49);
}

#sec5 {
    margin-top: 0;
}

.input-group {
    width: 60%;
}

#button-addon2 {
    transition: all 0.2s ease-out;
}

#button-addon2:hover {
    transform: scale(1.05);
}

/*---------- section 6 Contact ----------*/


#sec6 {
    width: 100%;
    height: 70vh;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label{
    margin-bottom: 5px;
}

.btn-submit {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 8px 15px;
    transition: all 0.2s ease-out;
}

.btn-submit:hover {
    transform: scale(1.08);
    color: black;
    background-color: #fff;
    box-shadow: rgb(54, 54, 54) 4px 4px;
}


/*---------- footer ----------*/


.footer {
    width: 100%;
    height: 6vh;
    font-size: 16px;
    background-color: black;
    text-align: center;
    padding-top: 10px;
}

}